.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 0;
}

.featuredImg {
	margin-bottom: 15px;
}

.dlh4 {
    padding-top: 0;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.clickable {
    cursor: pointer;
}

.panel {
    margin-bottom: 5px !important;
    border-radius: 0px !important;
}

.open {
    background-color:#398eb5 !important;
}
