!!!
%html
  %head
    %title
      DLyric.org
    %meta{:charset => "utf-8"}
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
  %body
    %div{:class => ["navbar", "navbar-inverse", "navbar-static-top"]}
      .container
        %a.home-button{:href => '/'}
          DLYRIC.org
        %button.navbar-toggle{:"data-toggle" => "collapse", :"data-target" => ".navHeaderCollapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %div{:class => ["collapse", "navbar-collapse", "navHeaderCollapse"]}
          %ul{:class => ["nav", "navbar-nav", "navbar-right"]}
            %li
              %a
                Login
            %li
              %a
                About
    .col-md-4.center
      .panel.panel-default
        .verse-panel-heading.clickable.open
          %h3.panel-title
            Yesterday's top verse:
            %span
              Eternity
        .panel-body
          %span
            He who binds to himself a joy
          %span
            Does the winged life destroy
          %span
            He who kisses the joy as it flies
          %span
            Lives in eternity's sunrise
        .panel-footer
          %span
            Points:
            %b 515
          %span.userName
            %b
              WBlake
              %iframe{:allowtransparency => "true", :scrolling => "no", :frameborder => "no", :src => "https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fundefined&color=orange_white&size=16", :style =>"width: 16px; height: 16px;"}
                1234
                %span.glyphicon.glyphicon-certificate.silver
                %span.glyphicon.gliphicon-certificate.bronze
    .col-md-4.center
      .panel.panel-default
        .verse-panel-heading.clickable
          %h3.panel-title
            July's prize:
            %b NIKEiD LeBron 11s or NIKEiD Custom Jordans
        .panel-body
          %img.featuredImg{:src => "img/lebron.png", :width => "50%"}
          %img.featuredImg{:src => "img/jordan.png", :width => "50%"}
          %span Men's NIKEiD Custom LeBron 11s or Women's NIKEiD Custom Jordans
        .panel-footer
          %span
            Sponsor:
            %b
              Nike
          %span.time
            Days:
            %b
              23
    .col-md-4.center
      .panel.panel-default
        .verse-panel-heading.clickable
          %h3.panel-title
            Today's Keyword:
            %b
              Yellow
        .panel-body
          %img.featuredImg{:src => "img/yellow.png", :width => "100%"}
          %span
            Use the word
            %b
              Yellow
            somewhere in your verse
        .panel-footer
          %span
            Points:
            %b
              2
          %span.time
            Time:
            %b
              4:33.18
    .col-md-4.center
      .jumbotron
        %h1.submitVerse
          Submit Verse
    - @verses.each do |verse|
      = render 'verses/verse', :verse => verse

    .navbar.navbar-default.navbar-fixed-bottom
      .container
        %p.navbar-text.pull-left 2014
        %a.navbar-btn.btn-danger.btn.pull-right{:href => "http://www.wikipedia.org"}
      .script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
      .script{:src => "js/bootstrap.js"}
