!!!
%html
  %head
    %title
      DLyric.org
    %meta{:charset => "utf-8"}
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
  %body
    %div{:class => ["navbar", "navbar-inverse", "navbar-static-top"]}
      .container
        %a.navbar-brand
          DLYRIC.org
        %button.navbar-toggle{:"data-toggle" => "collapse", :"data-target" => ".navHeaderCollapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %div{:class => ["collapse", "navbar-collapse", "navHeaderCollapse"]}
          %ul{:class => ["nav", "navbar-nav", "navbar-right"]}
            %li
              %a
                Blog
            %li.dropdown
              %a.dropdown-toggle{:"data-toggle" => "dropdown"}
                Social Media
                %b.caret
                %ul.dropdown-menu
                  %li
                    %a
                      Twitter
                  %li
                    %a
                      Facebook
                  %li
                    %a
                      Google+
                  %li
                    %a
                      Instagram
            %li
              %a
                About
            %li
              %a
                Contact
    .col-md-4.center
      .panel.panel-default
        .verse-panel-heading.clickable.open
          %h3.panel-title
            Yesterday's top verse:
            %span
              Eternity
        .panel-body
          %span
            He who binds to himself a joy
          %span
            Does the winged life destroy
          %span
            He who kisses the joy as it flies
          %span
            Lives in eternity's sunrise
        .panel-footer
          %span
            Points:
            %b 515
          %span.userName
            %b
              WBlake
              %iframe{:allowtransparency => "true", :scrolling => "no", :frameborder => "no", :src => "https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fundefined&color=orange_white&size=16", :style =>"width: 16px; height: 16px;"}
                1234
                %span.glyphicon.glyphicon-certificate.silver
                %span.glyphicon.gliphicon-certificate.bronze
    .col-md-4.center
      .panel.panel-default
        .verse-panel-heading.clickable
          %h3.panel-title
            July's prize:
            %b NIKEiD LeBron 11s or NIKEiD Custom Jordans
        .panel-body
          %img.featuredImg{:src => "img/lebron.png", :width => "50%"}
          %img.featuredImg{:src => "img/jordan.png", :width => "50%"}
          %span Men's NIKEiD Custom LeBron 11s or Women's NIKEiD Custom Jordans
        .panel-footer
          %span
            Sponsor:
            %b
              Nike
          %span.time
            Days:
            %b
              23
    .col-md-4.center
      .panel.panel-default
        .verse-panel-heading.clickable
          %h3.panel-title
            Today's Keyword:
            %b
              Yellow
            .panel-body
              %img.featuredImg{:src => "img/yellow.png", :width => "100%"}
              %span
                Use the word
                %b
                  Yellow
                somewhere in your verse
            .panel-footer
              %span
                Points:
                %b
                  2
              %span.time
                Time:
                %b
                  4:33.18
    .col-md-4.center
      .jumbotron
        %h1.submitVerse
          Submit Verse
    .col-md-4.center
      .panel.panel-default
        .verse-panel-heading.clickable
          .panel-title
            Two roads diverged in a yellow wood,
        .panel-body
          %span And sorry I could not travel both
          %span And be one traveler, long I stood
          %span And looked down one as far as I could
          %span To where it bent in the undergrowth;
          .btn-group.btn-group-justified
            .btn-group
              %button.btn.btn-default{:type => "button"}
                Like This
            .btn-group
              %button.btn.btn-default{:type => "button"}
                SMH
        .panel-footer
          %span
            Points:
            %b
              123
          %span.userName
            %b
              userName
              %iframe{:allowtransparency => "true", :scrolling => "no", :frameborder => "no", :src => "https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fundefined&color=orange_white&size=16", :style =>"width: 16px; height: 16px;"}
              123
          %span.glypicon.glypicon-certificate.gold
          %span.glyphicon.glyphicon-certificate.silver
          %span.glyphicon.glyphicon-certificate.bronze

    .col-md-4.center
      .panel.panel-default
        .verse-panel-heading.clickable
          .panel-title
            Two roads diverged in a yellow wood,
        .panel-body
          %span And sorry I could not travel both
          %span And be one traveler, long I stood
          %span And looked down one as far as I could
          %span To where it bent in the undergrowth;
          .btn-group.btn-group-justified
            .btn-group
              %button.btn.btn-default{:type => "button"}
                Like This
            .btn-group
              %button.btn.btn-default{:type => "button"}
                SMH
        .panel-footer
          %span
            Points:
            %b
              123
          %span.userName
            %b
              userName
              %iframe{:allowtransparency => "true", :scrolling => "no", :frameborder => "no", :src => "https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fundefined&color=orange_white&size=16", :style =>"width: 16px; height: 16px;"}
              123
          %span.glypicon.glypicon-certificate.gold
          %span.glyphicon.glyphicon-certificate.silver
          %span.glyphicon.glyphicon-certificate.bronze

    .col-md-4.center
      .panel.panel-default
        .verse-panel-heading.clickable
          .panel-title
            Two roads diverged in a yellow wood,
        .panel-body
          %span And sorry I could not travel both
          %span And be one traveler, long I stood
          %span And looked down one as far as I could
          %span To where it bent in the undergrowth;
          .btn-group.btn-group-justified
            .btn-group
              %button.btn.btn-default{:type => "button"}
                Like This
            .btn-group
              %button.btn.btn-default{:type => "button"}
                SMH
        .panel-footer
          %span
            Points:
            %b
              123
          %span.userName
            %b
              userName
              %iframe{:allowtransparency => "true", :scrolling => "no", :frameborder => "no", :src => "https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fundefined&color=orange_white&size=16", :style =>"width: 16px; height: 16px;"}
              123
          %span.glypicon.glypicon-certificate.gold
          %span.glyphicon.glyphicon-certificate.silver
          %span.glyphicon.glyphicon-certificate.bronze

    .col-md-4.center
      .panel.panel-default
        .verse-panel-heading.clickable
          .panel-title
            Two roads diverged in a yellow wood,
        .panel-body
          %span And sorry I could not travel both
          %span And be one traveler, long I stood
          %span And looked down one as far as I could
          %span To where it bent in the undergrowth;
          .btn-group.btn-group-justified
            .btn-group
              %button.btn.btn-default{:type => "button"}
                Like This
            .btn-group
              %button.btn.btn-default{:type => "button"}
                SMH
        .panel-footer
          %span
            Points:
            %b
              123
          %span.userName
            %b
              userName
              %iframe{:allowtransparency => "true", :scrolling => "no", :frameborder => "no", :src => "https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fundefined&color=orange_white&size=16", :style =>"width: 16px; height: 16px;"}
              123
          %span.glypicon.glypicon-certificate.gold
          %span.glyphicon.glyphicon-certificate.silver
          %span.glyphicon.glyphicon-certificate.bronze


    .navbar.navbar-default.navbar-fixed-bottom
      .container
        %p.navbar-text.pull-left 2014
        %a.navbar-btn.btn-danger.btn.pull-right{:href => "http://www.wikipedia.org"}
      .script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
      .script{:src => "js/bootstrap.js"}
